@import "../views/FoodListView.css";



/* Manager Provider Logo */
.manager-logo {
    max-width: 100px; /* Adjust as needed */
    margin-bottom: 20px;
}

/* Add New Food Button */
.add-new-food-btn {
    background-color: #e85d04;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: #d54b03;
    }
}

/* Edit and Delete Buttons inside each card */
.card-buttons {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.edit-btn, .delete-btn {
    background-color: #e85d04;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.3s ease;

    &:hover {
        background-color: #d54b03;
    }
}

.delete-btn {
    background-color: #d9534f; /* Different color for delete */
}
