/* FoodListView.css */

/* Main container styling */
div {
    font-family: 'Arial', sans-serif;
}

.platform-background-food-list {
    background: linear-gradient(120deg, #f3eca1, #f5b657);
    margin: 0;
    height: 300vh;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Food cards container */
.foods-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* space between cards */
    justify-content: center;
    align-items: baseline;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 200px;
}

.foods-container a {
    text-decoration: none;
    color: inherit;
}

.food-description {
    margin-bottom: 10px;
    text-align: left;
    height: 50px;
}

/* Individual food card styling */
.food-card {
    background-color: #ffffff; /* white background */
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    width: 260px; /* Set a width for the card, adjust as needed */
    height: 380px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

    animation: fadeIn 1s ease-in-out forwards;
}

.food-card:hover {
    cursor: pointer; /* Changes the cursor to a hand pointer when hovering */
    transform: translateY(-5px); /* Slightly enlarges the card on hover */
    transition: transform 0.2s ease-in-out; /* Smoothens the enlarging effect */
}

.food-card img {
    width: 100%;
    height: 150px; /* adjust as needed */
    object-fit: cover;
}

.food-card h2 {
    font-size: 1.25rem;
    margin: 8px;
}

.food-card p {
    margin: 8px;
}

/* Key information */
.food-info {
    padding: 0 16px 16px;
}

.food-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 4px;
    color: #f3a847; /* Use the color from the search button for consistency */
}

/* Food details with icons */
.food-details {
    display: grid;
    /*
    grid-template-columns: repeat(2, 1fr);
     */
}

.food-details p {
    display: flex;
    align-items: center;
    gap: 8px; /* space between icon and text */
}

/* Just an aesthetic touch for icons */
.food-details span {
    font-size: 1.1rem;
}

.circularProgress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
}

/* Filter component styling */
.filter-container {
    border: 1px solid #dcdcdc;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 50px;
    width: 400px;
    background: #ffffff;
}

.filter-container h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.filter-container ul {
    list-style-type: none;
    padding-left: 0;
}

.filter-container li {
    margin-bottom: 5px;
}

.filter-container input[type="checkbox"] {
    margin-right: 5px;
}


/* Product list container styling */
.product-list-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    padding: 50px 16px;
}

.list-container {
    flex-grow: 1;
    width: calc(100% - 270px); /* 100% minus the filter width and its margin */
    padding-left: 20px; /* spacing between filter and list */
}

/* Styling sort dropdown */
.sort-container {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0;
}

.sort-container label {
    margin-right: 10px;
}

.sort-container select {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
}
